## Numbers in Python: Simple Arithmetic

# *Addition*

In [2]:
1 + 1

2

# *Subtraction*

In [3]:
1 - 2

-1

# *Multiplication*

In [4]:
2 * 3

6

# *Division*

NOTE: Division of two integers in Python3 yields a floating point number by default.

In [6]:
1 / 2

0.5

# *Exponent*

In [7]:
2 ** 5

32

# *Modulus*

In [8]:
5 % 2

1

# Variables: Assignment and Updates

In [9]:
x = 2
y = 4
print(x+y)
x = x+x
print(x+y)

6
8

NOTE: Do not start variable names with numbers or special characters

In [10]:
12var = 12

SyntaxError: invalid syntax (<ipython-input-10-72e2c0241394>, line 1)

NOTE: Follow under_score_casing in terms of long variable names

In [13]:
is_live = True
is_live

True

# Strings in Python3

NOTE: Strings can be defined with single, as well as, double quotes

In [15]:
# String definition with single quotes
x = 'single quote'
print(x)
x = "double quote"
x

single quote

'double quote'

In [16]:
# Retaining single quote within double quote
"I can't go"

"I can't go"

In [17]:
# Retaining double quotes within single quote
'She said, "Blackbird, fly away!"'

'She said, "Blackbird, fly away!"'

In [19]:
# For printing a string without the enclosing set of quotes, pass it to the print function
print('She said, "Blackbird, fly away!"')

She said, "Blackbird, fly away!"

# Print Formatting

In [1]:
num = 12
name = 'Sam'
print('My roll number is {} and my name is {}'.format(num,name))

My roll number is 12 and my name is Sam

In [3]:
print('My roll number is {one} and my name is {two}, I am in standard {one}'.format(one=num,two=name))

My roll number is 12 and my name is Sam, I am in standard 12

# Indexing Strings

NOTE: Python Strings are indexed with 0-based indexing

In [4]:
s = 'hello'

In [5]:
# Grabbing the character at specific position
s[0]

'h'

# *Using the slice notation [start:end]*

In [8]:
s = 'abcdefghijk'

In [9]:
# Starting from index 0, grab everything that is beyond that
s[0:]

'abcdefghijk'

In [11]:
# Starting from the beginning, grab everything upto, but not including, a certain index
s[:3]

'abc'

In [14]:
# Grab everything from a start index, upto, but not including, the end index
s[3:6]

'def'

# Lists In Python3

In [16]:
my_list = ['a','b','c']
my_list

['a', 'b', 'c']

In [18]:
# Appending to the end of the list
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [19]:
# Grabbing elements from the list
my_list[1:3]

['b', 'c']

In [20]:
# Reassigning index positions
my_list[0] = 'NEW'
my_list

['NEW', 'b', 'c', 'd']

In [21]:
# Nesting lists
nest = [1,2,my_list]
nest

[1, 2, ['NEW', 'b', 'c', 'd']]

In [22]:
# Grabbing elements from a nested list
nest[2][0]

'NEW'

In [25]:
print(nest[2][3])

d

# Dictionaries in Python3

In [27]:
# Creating a dictionary and grabbing elements from dictionary based on keys
d = {'key1':'value','key2':123}
print(d['key1'])

value

In [31]:
# Adding elements to the dictionary
my_list = [1,2,3]
d.update(list = my_list)
# Alternate Syntax: d.update({'list':my_list})
print(d['list'])
print(d['list'][2])

[1, 2, 3]
3

In [32]:
# Nested Dictionaries
d = {'k1':{'innerkey':[1,2,3]}}
# Grab the number 2
print(d['k1']['innerkey'][1])

2

# Tuples in Python3

In [33]:
t = (1,2,3)
t

(1, 2, 3)

In [34]:
print(t[0])

1

In [35]:
# Lists allow item reassignments, however tuples are immutable
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

# Sets in Python3

In [37]:
# Creating a set from a list
s = set([1,1,1,2,2,2,2,2,3,3,3,5,6,3,4,4,4,4,5,5,5,6,6])
s

{1, 2, 3, 4, 5, 6}

In [38]:
# Creating a set directly using {}
s = {1,2,3,4,5,6}
s

{1, 2, 3, 4, 5, 6}

In [40]:
# Adding elements to a set
s.add(7)
print(s)
s.add(7)
print(s)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

# Comparison Operators

In [46]:
print(1 < 2)
print(1 > 2)
print(1 <= 2)
print(1 >= 2)
print(1 == 1)
print(1 != 2)

True
False
True
False
True
True

In [47]:
# Do not use = sign when comparing values
1 = 1

SyntaxError: can't assign to literal (<ipython-input-47-f14d764f4ca2>, line 2)

In [48]:
# String comparison can also be done using the == sign
print('hi' == 'bye')
print('hi' != 'bye')

False
True

# Logical Operators

In [50]:
# Logical AND Operation
print(1 < 2 and 1 < 3)
print(1 < 2 and 2 > 3)

True
False

In [51]:
# Logical OR Operation
print(1 < 2 or 2 > 3)

True

In [55]:
# AND Truth Table
print('True and True   : ' + str(True and True))
print('True and False  : ' + str(True and False))
print('False and True  : ' + str(False and True))
print('False and False : ' + str(False and False))

True and True   : True
True and False  : False
False and True  : False
False and False : False

# Conditional Operators

In [57]:
# Indentation compulsory
if 1<2:
    print('yep!')

yep!

In [60]:
# If...else block
if 1 != 2:
    print("First")
else:
    print("Last")

First

In [62]:
# Multiple Conditions: If...elif...else block
if 1 == 2:
    print("First")
elif 3 == 3:
    print("Middle")
else:
    print("Last")

Middle

# Loops in Python3

In [1]:
seq = [1,2,3,4,5]

In [2]:
for item in seq:
    print(item)

1
2
3
4
5

In [4]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

# Range

In [5]:
# range(start,end) generates numbers over the start and end range. Used when you want to execute a certain
# block of code, (end-start) no. of times
for x in range(0,5):
    print(x)

0
1
2
3
4

In [6]:
# range() is also useful in creating a list of numbers from start to end
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
#  range(limit) - meaning start = 0 and end = limit
list(range(5))

[0, 1, 2, 3, 4]

# List Comprehension

In [8]:
# Used when you want to append items into a list after performing some operations on items in some other list
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [9]:
# The above is the traditional approach, Python3 supports list comprehension as below:
out = [num**2 for num in x]
print(out)

[1, 4, 9, 16]

# Functions in Python3

In [10]:
def my_func(param1):
    print(param1)

In [11]:
my_func('hello')

hello

In [14]:
def welcome(name='Default Name'):
    print('Hello ' + name)

In [15]:
welcome('Jimil')

Hello Jimil

In [16]:
welcome()

Hello Default Name

In [17]:
welcome(name='Jimil')

Hello Jimil

In [19]:
# () are compulsory for function execution
welcome

In [28]:
# Note: DOCSTRING must be within the function, not above it
def square(num):
    """
    Returns the sqaure of the number
    passed to it
    @param num: number to be squared
    """
    return num**2

In [29]:
output = square(2)
print(output)

4

In [30]:
# In notebook, type the name of the function and with the cursor at the end, press Shift + Tab to view docstring
range

range

# map and filter in Python3 along with Lambda

In [40]:
# map() function - applies a function or lambda to every element in an iterable passed to it
seq = [1,2,3,4,5]
# output is the memory location where the output of this map() is located
map(square, seq)

In [41]:
list(map(square,seq))

[1, 4, 9, 16, 25]

In [42]:
def times2(var): return var*2

In [43]:
# Lambda expression with map()
list(map(lambda var:var*3, seq))

[3, 6, 9, 12, 15]

In [44]:
# filter() function - filter items out of the iterable according to the function or lambda passed
list(filter(lambda var: var%2==0, seq))

[2, 4]

# Built-in methods with Python3

In [45]:
s = 'hello! my name is Jimil'
s.lower()

'hello! my name is jimil'

In [46]:
s.upper()

'HELLO! MY NAME IS JIMIL'

In [47]:
s.split()

['hello!', 'my', 'name', 'is', 'Jimil']

In [49]:
tweet = 'Go Sports! #sports'
tweet.split('#')

['Go Sports! ', 'sports']

In [50]:
d = {'k1': 1, 'k2': 2}

In [51]:
d.keys()

dict_keys(['k1', 'k2'])

In [52]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [54]:
d.values()

dict_values([1, 2])

In [57]:
lst = [1,2,3,4]
# removes last element from the list permanently
lst.pop()

4

In [58]:
lst

[1, 2, 3]

In [59]:
first = lst.pop(0)
print(first)
print(lst)

1
[2, 3]

In [60]:
lst.append(first)

In [61]:
lst

[2, 3, 1]

In [62]:
'x' in [1,2,3]

False

In [63]:
'x' in ['x','y','z']

True

# Tuple Unpacking

In [64]:
x = [(1,2),(3,4),(5,6)]

In [67]:
x[0][1]

2

In [72]:
# Instead of first getting a tuple from the list and then applying some function, you can unpack the tuple
# on the fly - in the loop definition itself, and inside, you can directly perform your operation
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [73]:
for a,b in x:
    print(a)

1
3
5