In [16]:
import pandas as pd

In [17]:
data = pd.read_csv('sat.csv')
data.head()

   HS GPA  SAT Score  Random
0     3.4       1270     NaN
1     4.0       1220     NaN
2     3.8       1160     NaN
3     3.8        950     NaN
4     4.0       1070     NaN

In [18]:
x = []
for i in range(len(data)):
    data.loc[i,'Random'] = int(i%3)
print(len(data['Random']))

1000

In [20]:
data.head()

   HS GPA  SAT Score  Random
0     3.4       1270     0.0
1     4.0       1220     1.0
2     3.8       1160     2.0
3     3.8        950     0.0
4     4.0       1070     1.0

In [21]:
data.to_csv('sat_random.csv')